<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ed7c7cf27e4323fa0e5d116a76e0f844 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
    <div style="position: fixed; 
                bottom: 50px; left: 20px; width: 180px; 
                background-color: rgba(255, 255, 255, 0.8); border-radius: 5px; z-index: 1000;">
        <div style="text-align: center; padding: 10px; font-size: 14px; font-weight: bold;">Relative frequency of location count legend (0 to 1 Scale)</div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: blue; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0 - 0.4: Blue</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: green; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.4 - 0.65: Green</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: red; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.65 - 1: Red</span>
        </div>
    </div>
    
    
            <div class="folium-map" id="map_ed7c7cf27e4323fa0e5d116a76e0f844" ></div>
        
</body>
<script>
    
    
            var map_ed7c7cf27e4323fa0e5d116a76e0f844 = L.map(
                "map_ed7c7cf27e4323fa0e5d116a76e0f844",
                {
                    center: [39.105884, -74.8273184],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_14fe6235c0ed2168b98bbff002dfdc3d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 5, "maxZoom": 5, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ed7c7cf27e4323fa0e5d116a76e0f844);
        
    
            var heat_map_a0903ebdc5da8367a8a09e5e0ea65b94 = L.heatLayer(
                [[33.9255713, -116.8764103, 1], [35.8994729, -85.02334599999999, 1], [37.09024, -95.712891, 2], [38.3365032, -75.0849058, 4], [38.9071923, -77.0368707, 1], [38.9738981, -74.925345, 3], [38.9917797, -74.8148894, 4], [39.0023352, -74.82433429999999, 1], [39.105884, -74.8273184, 19], [39.1201616, -74.8451915, 2], [39.1958623, -74.8156199, 3], [39.2185842, -74.7059931, 4], [40.0583238, -74.4056612, 1], [40.1299841, -77.2405153, 1], [40.34463530000001, -75.667356, 1], [47.7510741, -120.7401386, 1]],
                {"blur": 20, "gradient": {"0.4": "blue", "0.65": "green", "1": "red"}, "maxZoom": 18, "minOpacity": 0.5, "opacity": 0.7, "radius": 15}
            ).addTo(map_ed7c7cf27e4323fa0e5d116a76e0f844);
        
</script>
</html>