<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_84a44eb7ac12764567b6b1db4956c2ca {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
    <div style="position: fixed; 
                bottom: 50px; left: 20px; width: 180px; 
                background-color: rgba(255, 255, 255, 0.8); border-radius: 5px; z-index: 1000;">
        <div style="text-align: center; padding: 10px; font-size: 14px; font-weight: bold;">Relative frequency of location count legend (0 to 1 Scale)</div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: blue; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0 - 0.4: Blue</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: green; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.4 - 0.65: Green</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: red; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.65 - 1: Red</span>
        </div>
    </div>
    
    
            <div class="folium-map" id="map_84a44eb7ac12764567b6b1db4956c2ca" ></div>
        
</body>
<script>
    
    
            var map_84a44eb7ac12764567b6b1db4956c2ca = L.map(
                "map_84a44eb7ac12764567b6b1db4956c2ca",
                {
                    center: [37.09024, -95.712891],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0e9b1bb7cd1199f7cdc4287ad68abf05 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 5, "maxZoom": 5, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_84a44eb7ac12764567b6b1db4956c2ca);
        
    
            var heat_map_10ddfc0627d36432a1ae62970cd5c509 = L.heatLayer(
                [[-40.900557, 174.885971, 1], [7.946527, -1.023194, 13], [18.971187, -72.285215, 4], [26.820553, 30.802498, 1], [33.93911, 67.709953, 1], [35.86166, 104.195397, 1], [36.204824, 138.252924, 2], [37.09024, -95.712891, 22], [38.0293036, -78.94502419999999, 1], [38.6270025, -90.1994042, 1], [39.3642834, -74.4229266, 1], [40.0583238, -74.4056612, 16], [40.1784471, -74.02180369999999, 3], [40.2005472, -74.03141649999999, 5], [40.2091219, -74.0386271, 1], [40.2203907, -74.0120817, 9], [40.2205824, -74.759717, 5], [40.2589455, -74.12399599999999, 7], [40.2645806, -74.0420699, 1], [40.2802758, -74.0054114, 2], [40.30427780000001, -73.9923596, 5], [40.3470543, -74.0643065, 1], [40.44062479999999, -79.9958864, 1], [40.6687141, -74.1143091, 1], [40.7127753, -74.0059728, 2], [40.7177545, -74.0431435, 1], [40.735657, -74.1723667, 3], [40.9262762, -74.07701, 1], [41.2033216, -77.1945247, 2], [41.8781136, -87.6297982, 1], [51.165691, 10.451526, 1], [51.5454736, -0.1627902, 6]],
                {"blur": 20, "gradient": {"0.4": "blue", "0.65": "green", "1": "red"}, "maxZoom": 18, "minOpacity": 0.5, "opacity": 0.7, "radius": 15}
            ).addTo(map_84a44eb7ac12764567b6b1db4956c2ca);
        
</script>
</html>