<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c7b7b2a2744d0968b000eff7672992e5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
    <div style="position: fixed; 
                bottom: 50px; left: 20px; width: 180px; 
                background-color: rgba(255, 255, 255, 0.8); border-radius: 5px; z-index: 1000;">
        <div style="text-align: center; padding: 10px; font-size: 14px; font-weight: bold;">Relative frequency of location count legend (0 to 1 Scale)</div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: blue; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0 - 0.4: Blue</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: green; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.4 - 0.65: Green</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: red; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.65 - 1: Red</span>
        </div>
    </div>
    
    
            <div class="folium-map" id="map_c7b7b2a2744d0968b000eff7672992e5" ></div>
        
</body>
<script>
    
    
            var map_c7b7b2a2744d0968b000eff7672992e5 = L.map(
                "map_c7b7b2a2744d0968b000eff7672992e5",
                {
                    center: [40.7127753, -74.0059728],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d50deb3ffb122ba63b407084f99dd86a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 5, "maxZoom": 5, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c7b7b2a2744d0968b000eff7672992e5);
        
    
            var heat_map_86720094140745b3f98928ccfc658398 = L.heatLayer(
                [[-40.900557, 174.885971, 2], [20.593684, 78.96288, 2], [24.8607343, 67.0011364, 1], [25.1313229, 62.3249865, 1], [30.1798398, 66.9749731, 1], [30.375321, 69.34511599999999, 19], [31.9685988, -99.9018131, 1], [32.7631481, 74.7059678, 1], [33.93911, 67.709953, 1], [35.7248556, 51.5488276, 1], [35.86166, 104.195397, 1], [37.09024, -95.712891, 30], [38.1987457, -77.9694418, 1], [38.9071923, -77.0368707, 3], [40.0583238, -74.4056612, 5], [40.6781784, -73.9441579, 8], [40.7127753, -74.0059728, 68], [40.7129848, -73.95889640000001, 1], [40.7282239, -73.7948516, 4], [40.7556818, -73.8830701, 1], [40.789142, -73.13496099999999, 2], [40.8447819, -73.8648268, 2], [40.9848784, -72.61511689999999, 3], [41.8781136, -87.6297982, 1], [43.2994285, -74.21793260000001, 1], [52.3555177, -1.1743197, 1], [55.378051, -3.435973, 1], [56.130366, -106.346771, 3]],
                {"blur": 20, "gradient": {"0.4": "blue", "0.65": "green", "1": "red"}, "maxZoom": 18, "minOpacity": 0.5, "opacity": 0.7, "radius": 15}
            ).addTo(map_c7b7b2a2744d0968b000eff7672992e5);
        
</script>
</html>