<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_072bbcc44508e3fd5239069ab4fd5540 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
    <div style="position: fixed; 
                bottom: 50px; left: 20px; width: 180px; 
                background-color: rgba(255, 255, 255, 0.8); border-radius: 5px; z-index: 1000;">
        <div style="text-align: center; padding: 10px; font-size: 14px; font-weight: bold;">Relative frequency of location count legend (0 to 1 Scale)</div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: blue; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0 - 0.4: Blue</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: green; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.4 - 0.65: Green</span>
        </div>
        <div style="padding: 10px; font-size: 12px;">
            <div style="background-color: red; width: 20px; height: 20px; display: inline-block; vertical-align: middle;"></div>
            <span style="vertical-align: middle;">0.65 - 1: Red</span>
        </div>
    </div>
    
    
            <div class="folium-map" id="map_072bbcc44508e3fd5239069ab4fd5540" ></div>
        
</body>
<script>
    
    
            var map_072bbcc44508e3fd5239069ab4fd5540 = L.map(
                "map_072bbcc44508e3fd5239069ab4fd5540",
                {
                    center: [27.6648274, -81.5157535],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_69a3965bb2cf5dc05dfa15f6c19210b3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 5, "maxZoom": 5, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_072bbcc44508e3fd5239069ab4fd5540);
        
    
            var heat_map_f35f25dffd3a6619ec2d5fca9ea0554d = L.heatLayer(
                [[27.6648274, -81.5157535, 6], [28.5383832, -81.3789269, 3], [31.7053821, 35.2024425, 1], [32.1574351, -82.90712300000001, 2], [33.854721, 35.862285, 1], [34.0522342, -118.2436849, 1], [34.4692588, -96.2163853, 1], [36.572054, -87.2999036, 1], [37.09024, -95.712891, 6], [37.1134163, -84.3363255, 1], [40.0583238, -74.4056612, 1], [40.2731911, -76.8867008, 1], [40.2734277, -76.7336521, 1], [40.3451566, -75.9927652, 1], [40.6022939, -75.4714098, 5], [40.7127753, -74.0059728, 1], [41.2033216, -77.1945247, 4], [42.3250896, -72.64120129999999, 1]],
                {"blur": 20, "gradient": {"0.4": "blue", "0.65": "green", "1": "red"}, "maxZoom": 18, "minOpacity": 0.5, "opacity": 0.7, "radius": 15}
            ).addTo(map_072bbcc44508e3fd5239069ab4fd5540);
        
</script>
</html>