<!doctype html>
<html lang="en">
   <head>
      <title>Map view of locations</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
      <!-- <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
         <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
            </button>
         </div> -->
         <!-- <h1><a href="index.html" class="logo">Local News Data</a></h1> -->
         <!-- <ul class="list-unstyled components mb-5">
            <li>
               <a href="index.html"><span class="fa fa-home mr-3"></span> Homepage</a>
            </li>
            <li class="active">
               <a href="map_view.html"><span class="fa fa-map mr-3"></span> Map View</a>
            </li>
            <li>
               <a href="number_of_articles.html"> <span class="fa fa-file-text mr-3"></span> Number of Articles</a>
            </li>
            <li>
               <a href="range_of_articles.html"><span class="fa fa-file-text mr-3"></span> Range of Articles</a>
            </li>
            <li>
               <a href="http://matthewsweber.com/" target="_blank"><span class="fa fa-paper-plane mr-3"></span> About Me</a>
            </li>
         </ul> -->
      </nav>
      <div id="content" class="p-4 p-md-5 pt-5">
         <!-- Map Form  -->
         <center>
            <form onSubmit="return process();">
               <select class="form-select" id="domain" name="domain">
                  <option selected>Choose a Domain</option>
                  <option id="newjerseyglobe" value="newjerseyglobe">newjerseyglobe</option>
                  <option id="montynews" value="montynews">montynews</option>
                  <option id="dailyvoice" value="dailyvoice">dailyvoice</option>
                  <option id="thepressgroup" value="thepressgroup">thepressgroup</option>
               </select>
               &nbsp;&nbsp;
               <input type="submit" value="Submit" class="btn btn-primary btn-sm">
            </form>
         </center>
         <br>
         <!-- Map View  -->
         <div class="embed-responsive embed-responsive-4by3">
            <iframe id="map" name="map" width="600" height="450" src="" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
      <script type="text/javascript">
         function process() {
            let browserFrame = document.getElementById("map");
            let domain = document.getElementById("domain").value;
            browserFrame.src= `data/${domain}.html`
            return false;
         };
      </script>
   </body>
</html>